body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

button,
input,
textarea,
select {
    margin: 0;
    font: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a141f; /* #302823 */
    z-index: 100;
}

nav .logo {
    color: white;
    font-size: 2em;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.menu-check {
    display: none;
}

.menu-label {
    display: none;
    cursor: pointer;
    margin: 20px;
    z-index: 6;
}

.menu-label div {
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 2px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a {
    transition: 0.3s ease;
    padding: 10px 25px;
    border: solid 1px transparent;
}

nav ul li a:hover {
    border: solid 1px white;
}

.search-bar {
    margin-left: auto;
    border-radius: 5px;
    padding: 20px;
}

input,
button,
textarea,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px gray;
}

button,
#submit {
    background-color: #302823;
    color: white;
    cursor: pointer;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 4;
}

/* Phones */
@media screen and (max-width: 817px) {
    .menu-label {
        display: block;
    }

    .search-bar {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        background-color: black;
        z-index: 5;
    }

    nav ul li {
        padding: 20px 0;
    }

    .menu-check:checked~ul {
        display: flex;
    }

    .menu-check:checked~.overlay {
        display: block;
    }
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 817px) {
    nav ul {
        width: 33%;
        left: auto;
        right: 0;
    }
}

.car-slider {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.car-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.car-slide {
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-slide img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 65%;
}

.car-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.2)50%);*/
    background-image: linear-gradient(to left, rgba(24, 24, 24, 0), rgba(24, 24, 24, 0.6));
    z-index: 1;
}

.car-slide-text a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    border: solid 5px white;
    padding: 10px;
    z-index: 2;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info-text,
.info-image {
    width: 100%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.info-text h2 {
    margin-top: 0;
}

.info-image img {
    width: 100%;
    height: auto;
}

/* Small Devices (Tablets and Phones) */
@media (max-width: 817px) {
    .info-section {
        flex-direction: column;
    }

    .info-text,
    .info-image {
        width: 100%;
    }
}

/* Large Devices (Laptops and Desktops) */
@media (min-width: 817px) {
    .info-text,
    .info-image {
        width: 45%;
    }
}

.about-section {
    display: flex;
    margin: 20px;
    padding: 0 20px;
}

.about-text,
.about-profile {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 100%;
}

.about-profile {
    justify-content: center;
    align-items: center;
}

.about-profile-card {
    max-width: 100%;
}

.about-profile-card img {
    width: 100%;
    height: auto;
}

/* Tablets and Phones */
@media (max-width: 817px) {
    .about-section {
        flex-direction: column;
        padding: 0;
    }

    .about-text,
    .about-profile {
        width: 100%;
    }

    .about-profile {
        align-items: flex-start;
    }

    .about-profile-card {
        max-width: 50%;
    }
}

@media (max-width: 700px) {
    .about-profile-card {
        max-width: 500px;
    }
}


/* Laptops and Desktops */
@media (min-width: 817px) {
    .about-text,
    .about-profile {
        width: 50%;
    }

    .about-profile-card {
        max-width: 50%;
    }
}

.popular-cars-title {
    font-size: 2em;
    text-align: center;
}

.popular-cars-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.popular-car-item {
    width: 100%;
    padding: 20px 0;
    text-align: left;
}

/* For larger screens */
@media (min-width: 768px) {
    .popular-car-item {
        width: 30%;
    }
}

.popular-car-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #0a141f;
    color: white;
    text-align: left;
    padding: 20px;
}

/*robert part starts*/

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-start;*/
    /*aligns on the new line form the left*/
    width: 100%;
}

.car-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    margin: 20px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.car-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.car-card:hover img {
    transform: scale(1.1);
}

.car-card h2 {
    margin: 10px;
    padding: 0 20px;
}

.car-card p {
    margin: 5px 10px;
    padding: 0 20px;
}

.price {
    font-size: 1.8em;
    font-weight: bold;
}

.car-card a {
    text-align: center;
    font-size: 1.2em;
    border: 2px solid black;
    margin: 20px;
    margin-top: auto;
    padding: 10px;
}

.car-card a {
    text-decoration: none;
    color: black;
}

/* Large devices (desktops) */
@media (min-width: 1600px) {
    .car-card {
        /* 4 cards per line */
        width: calc((100%/4) - 60px);

    }
}

/* Medium devices (laptops) */
@media (min-width: 900px) and (max-width: 1600px) {
    .car-card {
        /* 3 cards per line */
        width: calc((100%/3) - 60px);
    }
}

/* Tablets */
@media (max-width: 900px) and (min-width: 600px) {
    .car-card {
        /* 2 cards per line */
        width: calc((100% / 2.5));
    }
}

/* Phones */
@media (max-width: 600px) {
    .car-card {
        /* 1 card per line */
        flex: 0 1 calc(100% - 20px);
    }
}

/*robert part ends*/

.contact-section {
    display: flex;
    margin: 20px;
    padding: 0 20px;
    font-size: 1.2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    padding: 10px 0;
}

#submit {
    margin: 20px 0;
    padding: 10px 20px;
}

/* Tablets and Phones */
@media (max-width: 817px) {
    .contact-section {
        flex-direction: column;
        padding: 0;
    }

    .contact-form {
        width: 100%;
    }
}

/* Laptops and Desktops */
@media (min-width: 817px) {
    .contact-form,
    .contact-section img {
        width: 50%;
    }
}

/*For error styling in form*/
.error {
    color: red;
    margin-bottom: 5px;
}
