*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: black; /* #0a141f */
    background: linear-gradient(to top, rgba(0,0,0,0.95)50%,rgba(0,0,0,0.95)50%), url(../media/marble.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    position: relative;
}

.navbar{
    width: 100%;
    height: 100px; /*150px with gradient*/
    margin: auto;
    /*background: linear-gradient(360deg, rgba(0,0,0,0), black 50%);*/
    background: black;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: white;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    color: rgb(192, 38, 38);
    width: 400px;
    float: left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left: 75px;
    margin-top: 35px;
    font-size: 16px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s ease-in-out;
}

.menu ul li a:hover{
    color: rgb(192, 38, 38);
}

.search{
    width: 330px;
    float: left;
    margin-left: 550px;
}

.srch{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 35px;
    background: transparent;
    margin-top: 25px;
    color: white;
    border-bottom: 1px solid rgb(192, 38, 38);
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 16px;
    float: left;
    padding: 10px;
}

.btn{
    width: 100px;
    height: 35px;
    background: rgb(192, 38, 38);
    border: none;
    margin-top: 25px;
    color: black;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover{
    background: white;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white; /*Main text color*/
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    width: 500px;
}

.content h1{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(192, 38, 38);
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}

.cn:hover{
    background-color: white;
}

.content span{
    color: rgb(192, 38, 38);
    font-size: 60px;
}

.item-about{
    float: right;
    text-align: left;
    margin: auto;
}

.item-about h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Contact Form */

::placeholder {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
}

.contact-form label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Profile Card */

.card {
    position: absolute;
    top: 0;
    left: 650px;
    margin: auto;
    padding: 20px;
    border: 2px solid darkgray;
    background-color: white;
    color: black;
    text-align: left;
    font-family: Arial;
    line-height: 26px;
}

.card img {
    width: 450px;
}

.card h2 {
    font-weight: bold;
    padding-bottom: 10px;
}

.price {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 2px solid darkgray;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

/*Footer WORK IN PROGRESS*/

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

footer {
    margin: auto 0 25px 0;
    padding: 10px 0 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .wrapper {
    flex-direction: row;
    margin-left: 3px;
}

footer .wrapper .item {
    margin-bottom: 10px;
}

footer ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: right;
}

footer li {
    padding: 6px;
    list-style: none;
    font-size: 12px;
    margin-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*End of Footer*/



